* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 33%;
  min-width: 33%;
  padding: 2rem;
  margin-top: 25px;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: purple;
  color: #fff;
}

.input-feild {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid lightgray;
}

input:focus {
  outline: none;
}

.result {
  width: 33%;
  min-width: 33%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid lightgray;
}
